In [1]:
library(dplyr)
library(tidyr)
library(fivethirtyeight)

Warning message:
"package 'dplyr' was built under R version 3.4.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'tidyr' was built under R version 3.4.3"Warning message:
"package 'fivethirtyeight' was built under R version 3.4.4"

In [ ]:
data(package="fivethirtyeight")

In [2]:
data_oxford <- comma_survey

### care about the subject ID, and a few other variables

In [4]:
data_oxford_20<-
dplyr::select(data_oxford,respondent_id,
heard_oxford_comma, data_singular_plural)

### work with the first 20 data points

In [5]:
data_oxford_20<-slice(data_oxford_20,c(1:20))

### `gather()`: wide-form to long-form

In [7]:
data_oxford_long<-gather(data = data_oxford_20,
"question","answer",2:3)

### `spread()`: long-form to wide-form

* spread()    
distributes a pair of key-value columns into a field of
cells. Thus, the “keys” become separate columns, making the data
more “wide.”    
* spread()   
takes three optional arguments addition to data, key, and
value:    
* fill =   
if the combinations of valuables result in non-existent data,
then puts an NA in the cell.    
* convert =   
if the value column contains different data types,
convert will convert strings to doubles, integers, factors, etc.    
* drop =   
controls how spread() handles factors in the key column

In [8]:
data_oxford_wide<-spread(data = data_oxford_long,
key = question, value = answer)

## Pipe (Putting it together: creating a pipeline)

In [10]:
data_oxford %>% select(respondent_id,heard_oxford_comma, 
                       data_singular_plural) %>% 
                        slice(c(1:20)) %>% 
                        gather("question","answer",2:3) %>%
                        arrange(respondent_id)

   respondent_id question             answer
1  3292644552    heard_oxford_comma   FALSE
2  3292644552    data_singular_plural  TRUE
3  3292648325    heard_oxford_comma   FALSE
4  3292648325    data_singular_plural  TRUE
5  3292653724    heard_oxford_comma    TRUE
6  3292653724    data_singular_plural FALSE
7  3292692304    heard_oxford_comma    TRUE
8  3292692304    data_singular_plural FALSE
9  3292702854    heard_oxford_comma    TRUE
10 3292702854    data_singular_plural  TRUE
11 3292707770    heard_oxford_comma    TRUE
12 3292707770    data_singular_plural  TRUE
13 3292720964    heard_oxford_comma    TRUE
14 3292720964    data_singular_plural  TRUE
15 3292735069    heard_oxford_comma   FALSE
16 3292735069    data_singular_plural  TRUE
17 3292742681    heard_oxford_comma   FALSE
18 3292742681    data_singular_plural FALSE
19 3292753795    heard_oxford_comma    TRUE
20 3292753795    data_singular_plural FALSE
21 3292860428    heard_oxford_comma   FALSE
22 3292860428    data_singular_plural  TRUE
23 3292863455    heard_oxford_comma    TRUE
24 3292863455    data_singular_plural FALSE
25 3292869879    heard_oxford_comma    TRUE
26 3292869879    data_singular_plural FALSE
27 3292908135    heard_oxford_comma    TRUE
28 3292908135    data_singular_plural  TRUE
29 3292926586    heard_oxford_comma   FALSE
30 3292926586    data_singular_plural  TRUE
31 3292932522    heard_oxford_comma   FALSE
32 3292932522    data_singular_plural FALSE
33 3292932796    heard_oxford_comma    TRUE
34 3292932796    data_singular_plural FALSE
35 3292942669    heard_oxford_comma    TRUE
36 3292942669    data_singular_plural  TRUE
37 3292950324    heard_oxford_comma   FALSE
38 3292950324    data_singular_plural FALSE
39 3292953864    heard_oxford_comma    TRUE
40 3292953864    data_singular_plural FALSE

## More on `Pipe operator: %>%`

http://genomicsclass.github.io/book/pages/dplyr_tutorial.html

In [ ]:
library(dplyr)
library(EDAWR)

In [5]:
p <- group_by(pollution, size)

In [6]:
summarise(p, mean = mean(amount), sum = sum(amount), n = n())

  size  mean     sum n
1 large 55.33333 166 3
2 small 28.66667  86 3

* Each variable must have its own column.
* Each observation must have its own row.
* Each value must have its own cell.