# Tibbles

* Tibbles are a modern take on data frames
* no more stringsAsFactors = FALSE!

* `tibble()` is a nice way to create data frames

* coerce a data frame to a tibble using `as_tibble()`

In [3]:
library(tibble)

In [8]:
print(letters)

[1] "character"

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [11]:
tbl <- tibble(x = letters)
print(tbl)
class(tbl)

# A tibble: 26 x 1
   x
   <chr>
 1 a
 2 b
 3 c
 4 d
 5 e
 6 f
 7 g
 8 h
 9 i
10 j
# ... with 16 more rows

[1] "tbl_df"     "tbl"        "data.frame"

In [ ]:
class

# Pipe

# Tidy